

 button.print-button {
    position: fixed;
    top : 3px;
    right:10px;
    float: right;
    background-position: top;
    width: 60px;
    height: 60px;
  }
  
  span.print-icon, span.print-icon::before, span.print-icon::after, button.print-button:hover .print-icon::after {
    border: solid 4px #0072C6;
  }
  
  span.print-icon::after {
    border-width: 2px;
  }
  
  button.print-button {
    position: relative;
    padding: 0;
    border: 0;
    border: none;
    background: transparent;
    z-index: 10000;
  }
  
  span.print-icon, span.print-icon::before, span.print-icon::after, button.print-button:hover .print-icon::after {
    box-sizing: border-box;
    background-color: #fff;
  }
  
  span.print-icon {
    position: relative;
    display: inline-block;
    padding: 0;
    margin-top: 20%;
    width: 60%;
    height: 35%;
    background: #fff;
    border-radius: 20% 20% 0 0;
  }
  
  span.print-icon::before {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 12%;
    right: 12%;
    height: 110%;
    transition: height .2s .15s;
  }
  
  span.print-icon::after {
    content: " ";
    position: absolute;
    top: 55%;
    left: 12%;
    right: 12%;
    height: 0%;
    background: #fff;
    background-repeat: no-repeat;
    background-size: 70% 90%;
    background-position: left;
  
    background-image: linear-gradient(
      to top,
      #fff 0, #fff 14%,
      #333 14%, #333 28%,
      #fff 28%, #fff 42%,
      #333 42%, #333 56%,
      #fff 56%, #fff 70%,
      #333 70%, #333 84%,
      #fff 84%, #fff 100%
    );
    transition: height .2s, border-width 0s .2s, width 0s .2s;
  }
  
  button.print-button:hover {
    cursor: pointer;
  }
  
  button.print-button:hover .print-icon::before {
    height:0px;
    transition: height .2s;
  }
  
  button.print-button:hover .print-icon::after {
    height:120%;
    transition: height .2s .15s, border-width 0s .16s;
  }
  
  #report-id{
    visibility: hidden;
  }


  .background{
    overflow:scroll; 
    position: relative;
    width:100%; 
    height:100%
  }


  .ref { 
    position: absolute; 
    top: 14%; 
    left: 70%; 
    width: 100%; 
    padding-top: 27px;
 }

 .date { 
  position: absolute;  
  top: 8%;
//   padding-left: 630px;
  left: 70%; 
  width: 100%;
  padding-top: 27px;
}

.pensionNumber { 
  position: absolute; 
  top:20%; 
  width: 100%; 
  left: 70%; 
  padding-top: 27px;
}

.wnop { 
  position: absolute; 
  top: 26%;
  width: 100%; 
  left: 70%; 
  padding-top: 27px;
}

/* pensionerDetails */
.name { 
  position: absolute;
  left: 0; 
  width: 100%; 
  padding-top: 44px;
  top: 300px;
  padding-left: 280px;
}

.office { 
  position: absolute; 
  top: 123px; 
  left: 0; 
  width: 100%; 
  padding-top: 248px;
  padding-left: 280px;
}

.retireDate { 
  position: absolute; 
  top: 115px; 
  left: 0; 
  width: 100%; 
  padding-top: 285px;
  padding-left: 280px;
}

.post { 
  position: absolute; 
  top: 106px; 
  left: 0; 
  width: 100%; 
  padding-top: 324px;
  padding-left: 280px;
}

.nic { 
  position: absolute; 
  top: 95px; 
  left: 0; 
  width: 100%; 
  padding-top: 362px;
  padding-left: 280px;
}

/* paymentDetails */
.reducedAmount { 
  position: absolute; 
  top: 682px; 
  left: 0; 
  width: 100%; 
  padding-top: 120px;
  padding-left: 466px;
}

.unreducedAmount { 
  position: absolute; 
  top: 142px; 
  left: 0; 
  width: 100%; 
  padding-top: 662px;
  padding-left: 690px;
}

.pensionAccount { 
  position: absolute; 
  top: 1px; 
  left: 0; 
  width: 100%; 
  padding-top: 830px;
  padding-left: 350px;
}

.pensionBank { 
  position: absolute; 
  top: 1px; 
  left: 0; 
  width: 100%; 
  padding-top: 830px;
  padding-left: 555px;
}

.gratuityAmount { 
  position: absolute; 
  top: 4px; 
  left: 0; 
  width: 100%; 
  padding-top: 863px;
  padding-left: 350px;
}

.gratuityBank { 
  position: absolute; 
  top: 4px; 
  left: 0; 
  width: 100%; 
  padding-top: 880px;
  padding-left: 555px;
}

.gratuityAccount{ 
  position: absolute; 
  top: 4px; 
  left: 0; 
  width: 100%; 
  padding-top: 880px;
  padding-left: 350px;
}

/* spouseDetails */
.spouseName { 
  position: absolute; 
  top: 77px; 
  left: 0; 
  width: 100%; 
  padding-top: 444px;
  padding-left: 280px;
}

.spouseNic { 
  position: absolute; 
  top: 68px; 
  left: 0; 
  width: 100%; 
  padding-top: 478px;
  padding-left: 280px;
}

.marriageDate{ 
  position: absolute; 
  top: 59px; 
  left: 0; 
  width: 100%; 
  padding-top: 517px;
  padding-left: 280px;
}

/* childrenDetails */
.childrenName-1 { 
  position: absolute; 
  top: 20px; 
  left: 0; 
  width: 100%; 
  padding-top: 700px;
  padding-left: 75px;
}
.childrenName-2 { 
  position: absolute; 
  top: 13px; 
  left: 0; 
  width: 100%; 
  padding-top: 725px;
  padding-left: 75px;
}
.childrenName-3 { 
  position: absolute; 
  top: 5px; 
  left: 0; 
  width: 100%; 
  padding-top: 750px;
  padding-left: 75px;
}

.childrenDOB-1 { 
  position: absolute; 
  top: 20px; 
  left: 0; 
  width: 100%; 
  padding-top: 700px;
  padding-left: 325px;
}
.childrenDOB-2 { 
  position: absolute; 
  top: 13px; 
  left: 0; 
  width: 100%; 
  padding-top: 725px;
  padding-left: 325px;
}
.childrenDOB-3 { 
  position: absolute; 
  top: 5px; 
  left: 0; 
  width: 100%; 
  padding-top: 750px;
  padding-left: 325px;
}

.childrenNic-1{ 
  position: absolute; 
  top: 20px; 
  left: 0; 
  width: 100%; 
  padding-top: 700px;
  padding-left: 645px;
}
.childrenNic-2{ 
  position: absolute; 
  top: 13px; 
  left: 0; 
  width: 100%; 
  padding-top: 725px;
  padding-left: 645px;
}
.childrenNic-3{ 
  position: absolute; 
  top: 5px; 
  left: 0; 
  width: 100%; 
  padding-top: 750px;
  padding-left: 645px;
}

.childrenDisabled-1{ 
  position: absolute; 
  top: 25px; 
  left: 0; 
  width: 100%; 
  padding-top: 700px;
  padding-left: 495px;
}
.childrenDisabled-2{ 
  position: absolute; 
  top: 13px; 
  left: 0; 
  width: 100%; 
  padding-top: 725px;
  padding-left: 495px;
}
.childrenDisabled-3{ 
  position: absolute; 
  top: 5px; 
  left: 0; 
  width: 100%; 
  padding-top: 750px;
  padding-left: 495px;
}

.marriageCertDistrict{
    position: absolute; 
    top: 85px; 
    left: 0; 
    width: 100%; 
    padding-top: 517px;
    padding-left: 280px;
}

.marriageNo{
    position: absolute; 
    top: 110px; 
    left: 0; 
    width: 100%; 
    padding-top: 517px;
    padding-left: 280px;
}
  i {
     font-size: 35px;
      margin-left:10px;
  }
 i:hover{
    transform: scale(1.1);  
}

// .background{
//     background-image: url("../../../../../assets/images/Award.jpg");
// }
