table,#contentToConvert{
    font-size: 17px;
    color:black;
}

.date{
    margin-right: 10px;
}

.onframeload{
    background-image: url("../loader.jpg");   
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.afterframeload{
    background-image: none;   
    background-repeat: no-repeat;
    background-position: 50% 50%;
}