table {
    width: 100%;
  }

h2{
      font-family: fantasy;
      color:#3f51b5;
  }

.table{
      margin-top: 50px;
  }

.spinner{
    height:400px; 
}
.justify-content-md-center{
    height:400px; 
}
.refresh{
    margin-left: 10px;
}

button{
    width: 100%;
}

.view-details{
    margin-right: 5px;
}

.print{
    margin-right: 10px;
}

.select{
    margin-left: 5px;
    width: 20px;

}