<br>
<br>
<h5 mat-dialog-title>{{'Dependant information' | uppercase}}</h5>
<hr>
<br>


<div class="col-md-10" [formGroup]="form">
  <div class="form-group row">
    <label class="col-sm-5 col-form-label">Marital Status</label>
    <div class="col-sm-6">
      <select formControlName="marital_status" class="form-control form-control-sm"
        placeholder="Grama Niladhari Division">
        <option value=0> Unmarried</option>
        <option value=1>Married</option>
        <option value=2>Divorced/Separate/Widow</option>
      </select>
      <div *ngIf="form.get('marital_status').dirty || form.get('marital_status').touched || isClickNext || isMarried">
        <p *ngIf="marital_status.value === 'Married' && spouses.length == 0" class="text-danger">
          {{validationMessages.other('Plaese add spouse detail')}}</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="marital_status.value !== '0'">
  <h5 *ngIf="spouses.length > 0">SPOUSE INFORMATION</h5>
  <table *ngIf="spouses.length > 0" class="table table-sm table-bordered">
    <thead>
      <tr>
        <th scope="col">NAME</th>
        <th scope="col">RELATION</th>
        <th scope="col">DATE OF BIRTH</th>
        <th scope="col">NIC NO</th>
        <th scope="col">BIRTH CERT: NO</th>
        <th scope="col">MARRIAGE CERT: NO</th>
        <th scope="col">ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let model of spouses ; let rowNo = index">
        <td>{{ model.fullName }}</td>
        <td>{{ model.relation }}</td>
        <td>{{ model.dob.split('T')[0] }}</td>
        <td>{{ model.nic }}</td>
        <td>{{ model.birth_Cert_Number }}</td>
        <td>{{ model.marriage_Certificate_NO }}</td>
        <td>
          <button (click)="removeSpouse(rowNo)" type="button" class="btn btn-sm btn-danger">REMOVE</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div fxLayout="row">
    <div fxFlex>
      <button class="btn btn-primary btn-sm" (click)="addSpouse()">ADD SPOUSE</button>
    </div>
  </div>
  <br>
  <br>
</div>

<div>
  <h5 *ngIf="dependents.length > 0">DEPENDENTS INFORMATION</h5>
  <table *ngIf="dependents.length > 0" class="table table-sm table-bordered">
    <thead>
      <tr>
        <th scope="col">NAME</th>
        <th scope="col">RELATION</th>
        <th scope="col">DATE OF BIRTH</th>
        <th scope="col">NIC NO</th>
        <th scope="col">DIFFERENTLY ABLED</th>
        <th scope="col" *ngIf="spouses.length > 0">GUARDIAN</th>
        <th scope="col">ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let model of dependents ;let rowNo = index">
        <td>{{ model.fullName }}</td>
        <td>{{ model.relation  }}</td>
        <td>{{ model.dob.split('T')[0] }}</td>
        <td>{{ model.nic }}</td>
        <td>{{ model.differentlyAabled }}</td>
        <td *ngIf="spouses.length > 0">{{ model.guardian }}</td>
        <td>
          <button (click)="removeDependant(rowNo)" type="button" class="btn btn-danger btn-sm">REMOVE</button>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <div fxLayout="row">
    <div fxFlex>
      <button class="btn btn-primary btn-sm" (click)="addDependent()">ADD DEPENDENT</button>
    </div>
  </div>
</div>
<br><br>

<br>