<div class="container">
	<div class="row">
		<label>
			<h2 class="heading">Revision Detailed View</h2>
		</label>
	</div><br />
	<form [formGroup]="form">
		<div formGroupName="pdsixdetails">
			<mat-horizontal-stepper #stepper>

				<!-- Basic Information Panel -->
				<mat-step [stepControl]="firstFormGroup">
					<ng-template matStepLabel>PERSONAL INFORMATION</ng-template>
					<app-view-personal-info></app-view-personal-info>

					<div class="row justify-content-end">
						<button mat-raised-button color="primary" matStepperNext class="next-button"
							(click)="next()">Next</button>
					</div>
				</mat-step>

				<!-- Payment Information Panel -->
				<mat-step [stepControl]="thirdFormGroup">
					<ng-template matStepLabel>REVISION INFORMATION</ng-template>
					<app-view-payment-info></app-view-payment-info>

					<div class="row justify-content-end">
						<button mat-raised-button color="primary" class="back-button" matStepperPrevious>Back</button>
						<button type="submit" mat-raised-button color="primary" class="next-button"
							(click)="sendpd6details()" matStepperNext>SUBMIT</button>
					</div>
				</mat-step>
				
			</mat-horizontal-stepper>
		</div>
	</form>
</div>