h2 {
    font-family: fantasy;
    color:#3f51b5;
}

.example-stretched-tabs {
    max-width: 100%;
  }

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-tab-icon {
  margin-right: 8px;
}

button{
  margin: 5px;
  width: 100px;
}

.page-header{
  // background-color: rgb(0, 250, 250);
  color: #3f51b5;
}