<div class="content">
  <div class="row justify-content-center">
    <div class='search_all'>
      <div class='search_text'>
        <h5 class="heading">- Revision Report -</h5>
      </div>
    </div>
  </div> <br />

  <div class="row justify-content-center">
    <div class="search_box col-md-12">
      <div>
          <select class="searchinput">
            <option value="0" disabled>--Select One--</option>
            <option *ngFor="let status of statuslist" value={{status.id}}>{{status.name}}</option>
          </select>&nbsp;

          <input class="searchinput" type="date" placeholder="Status">
          &nbsp;
          <button class="submit-button-one" (click)="viewReport()"> View Report</button>&nbsp;&nbsp;
          <button class="submit-button-one" (click)="download()"> Download </button>
      </div>
    </div>
  </div>
</div>
<div class="row d-flex justify-content-center mt-3">
  <div class="col-md-10" *ngIf="iframeLoaded" id="mydiv">
    <iframe [ngClass]="iframeclass" id="reportURL" height="700px" (load)="onMyFrameLoad(this)" width="1200px"
      [src]="iframeURL" scrolling="auto">
    </iframe>
  </div>
</div>