<div class="container">
  <div class="row justify-content-center">
    <label>
      <h6>Are you sure you want to {{data.state}} this application?</h6>
    </label>
  </div><br />
  <div class="row justify-content-center">
    <button class="col-md-3" mat-raised-button color="primary" (click)="stateChange();close()">YES</button>
    <button class="col-md-3" mat-raised-button color="accent" (click)="close()">NO</button>
  </div>
</div>