<div class="container">
  <div class="row justify-content-end">
    <i class="fas fa-times fa-1x" (click)="close()"></i>
  </div>
  <div class="row">
    <label>
      <h3>Contact Details</h3>
    </label>
  </div><br />

  <div class="row justify-content-center">
    <div class="col-md-4">
      <label>Land number</label>
    </div>
    <div class="col-md-4">
      <label>{{dataConfig.pd3BasicInformation.landNumber}}</label>
    </div>
  </div><br />

  <div class="row justify-content-center">
    <div class="col-md-4">
      <label>Mobile number</label>
    </div>
    <div class="col-md-4">
      <label>{{dataConfig.pd3BasicInformation.mobileNumber}}</label>
    </div>
  </div><br />

  <div class="row justify-content-center">
    <div class="col-md-4">
      <label>Email</label>
    </div>
    <div class="col-md-4">
      <label>{{dataConfig.pd3BasicInformation.email}}</label>
    </div>
  </div><br />

  <div class="row justify-content-center">
      <div class="col-md-4">
        <label>Skype</label>
      </div>
      <div class="col-md-4">
        <label>{{dataConfig.pd3BasicInformation.skype}}</label>
      </div>
    </div><br/>
</div>