<!-- <div [@routerTransition]>
    <h2 class="text-muted">Dashboard</h2> -->
    <!-- <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'primary'" [icon]="'fa-comments'" [count]="26" [label]="'New Comments!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fa-tasks'" [count]="12" [label]="'New task!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'New Orders!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [icon]="'fa-support'" [count]="13" [label]="'New Tickets!'"></app-stat>
        </div>
    </div> -->

    <!-- <div class="row">
        <div class="col-md-3 col-xs-3">
          <div class="circle-tile">
            <div class="circle-tile-content purple">
              <div (click)="viewList('pending')">
                <div class="circle-tile-description text-faded">
                  Pending
                </div>
                <div class="circle-tile-number text-faded">
                  265
                  <span id="sparklineA"></span>
                </div>
              </div>
              <div class="circle-tile-footer" (click)="viewList('pending')">More Info
                <i class="fa fa-chevron-circle-right"></i>
              </div>
            </div>
          </div>
        </div>
      
        <div class="col-md-3 col-xs-3">
          <div class="circle-tile">
            <div class="circle-tile-content green">
              <div (click)="viewList('received')">
                <div class="circle-tile-description text-faded">
                  Received
                </div>
                <div class="circle-tile-number text-faded">
                  50
                </div>
              </div>
              <div class="circle-tile-footer" (click)="viewList('received')">More Info
                <i class="fa fa-chevron-circle-right"></i>
              </div>
            </div>
          </div>
        </div>
      
        <div class="col-md-3 col-xs-3">
          <div class="circle-tile">
            <div class="circle-tile-content orange">
              <div (click)="viewList('tobank')">
                <div class="circle-tile-description text-faded">
                  Rejected
                </div>
                <div class="circle-tile-number text-faded">
                  100
                </div>
              </div>
              <div class="circle-tile-footer" (click)="viewList('tobank')">More Info
                <i class="fa fa-chevron-circle-right"></i>
              </div>
            </div>
          </div>
        </div>
      
        <div class="col-md-3 col-xs-3">
          <div class="circle-tile">
            <div class="circle-tile-content red">
              <div (click)="viewList('verified')">
                <div class="circle-tile-description text-faded">
                  Verified
                </div>
                <div class="circle-tile-number text-faded">
                  120
                </div>
              </div>
              <div class="circle-tile-footer" (click)="viewList('verified')">More Info
                <i class="fa fa-chevron-circle-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
</div> -->
