<div class="container">
  <div class="row justify-content-end">
    <i class="fas fa-times fa-1x" (click)="close()"></i>
  </div>
  <div class="row">
    <label>
      <h3>Application Confirm</h3>
    </label>
  </div><br />

  <div class="row">
    <div class="col-md-4"><label>Number</label></div>
    <div class="col-md-3">{{data.pensionNumber}}</div>
  </div><br />
  <div class="row">
    <div class="col-md-4"><label>Interview date</label></div>
    <div class="col-md-3">{{data.interviewDate}}</div>
  </div><br />
  <div class="row">
    <div class="col-md-4"><label>Like to re-join</label></div>
    <div class="col-md-3">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1">
        <label class="form-check-label" for="inlineRadio1">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio2">
        <label class="form-check-label" for="inlineRadio2">No</label>
      </div>
    </div>
  </div><br />

  <div class="row justify-content-start">
    <div class="col-md-4">
      <label>Specialized</label>
    </div>
    <div class="col-md-5">
      <textarea name="" id="" cols="35" rows="3"></textarea>
    </div>
  </div><br />

  <div class="row">
    <div class="col-md-4"><label>Marriage certificate number</label></div>
    <div class="col-md-5"><input type="text" name="marriage"/></div>
  </div><br />

  <div class="row">
    <div class="col-md-4"><label>District</label></div>
    <div class="col-md-5"><input type="text" name="District" /></div>
  </div><br />

  <div class="row justify-content-end">
    <button class="col-md-2" mat-raised-button color="warn" (click)="close()">Close</button>
    <button class="col-md-2 accept" mat-raised-button color="primary" (click)="accept()">Accept</button>
</div>
</div>