<br>
<br>
<h5 mat-dialog-title>{{'Service information' | uppercase}}</h5>
<hr>
<br>
<div class="col-md-12" [formGroup]="form">

    <div class="form-group row">
        <label for="wnop_number" class="col-sm-3 col-form-label">W&OP Number</label>
        <div class="col-sm-5">
            <input formControlName="wnop_number" type="text" class="form-control form-control-sm" placeholder="W&OP Number">
            <div *ngIf="form.get('wnop_number').errors && (form.get('wnop_number').dirty || form.get('wnop_number').touched || isClickNext)">
                <p *ngIf="form.get('wnop_number').errors.required" class="text-danger">{{validationMessages.required('W&OP Number')}}</p>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="institute" class="col-sm-3 col-form-label">Institute</label>
        <div class="col-sm-5">
            <select formControlName="institute" class="form-control form-control-sm" placeholder="Institute">
                <option *ngFor="let Institute of Institutes" [value]=Institute.id>{{ Institute.name }}</option>
            </select>
            <div *ngIf="form.get('institute').errors && (form.get('institute').dirty || form.get('institute').touched || isClickNext)">
                <p *ngIf="form.get('institute').errors.required" class="text-danger">{{validationMessages.required('Institute')}}</p>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="designation" class="col-sm-3 col-form-label">Designation</label>
        <div class="col-sm-5">
            <select formControlName="designation" class="form-control form-control-sm" placeholder="Designation">
                <option *ngFor="let designation of designations" [value]=designation.id >{{ designation.name }}</option> 
            </select>
            <div *ngIf="form.get('designation').errors && (form.get('designation').dirty || form.get('designation').touched || isClickNext)">
                <p *ngIf="form.get('designation').errors.required" class="text-danger">{{validationMessages.required('Designation')}}</p>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="service" class="col-sm-3 col-form-label">Service</label>
        <div class="col-sm-5">
            <select formControlName="service" class="form-control form-control-sm" placeholder="Service">
                <option *ngFor="let service of services" [value]=service.id >{{ service.name }}</option> 
            </select>
            <div *ngIf="form.get('service').errors && (form.get('service').dirty || form.get('service').touched || isClickNext)">
                <p *ngIf="form.get('service').errors.required" class="text-danger">{{validationMessages.required('Service')}}</p>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="salary_code" class="col-sm-3 col-form-label">Salary Code</label>
        <div class="col-sm-5">
            <select formControlName="salary_code" class="form-control form-control-sm" placeholder="Salary Code">
                <option *ngFor="let SalaryScale of SalaryScales" [value]=SalaryScale.id >{{ SalaryScale.name }}</option> 
            </select>
            <div *ngIf="form.get('salary_code').errors && (form.get('salary_code').dirty || form.get('salary_code').touched || isClickNext)">
                <p *ngIf="form.get('salary_code').errors.required" class="text-danger">{{validationMessages.required('Salary code')}}</p>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="fist_appointment_date" class="col-sm-3 col-form-label">Fist Appointment Date</label>
        <div class="col-sm-3">
            <input formControlName="fist_appointment_date" type="date" class="form-control form-control-sm" placeholder="Fist Appointment Date">
            <div *ngIf="form.get('fist_appointment_date').errors && (form.get('fist_appointment_date').dirty || form.get('fist_appointment_date').touched || isClickNext)">
                <p *ngIf="form.get('fist_appointment_date').errors.required" class="text-danger">{{validationMessages.required('Fist appointment date')}}</p>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="appointment_date" class="col-sm-3 col-form-label">Last Appointment Date</label>
        <div class="col-sm-3">
            <input formControlName="appointment_date" type="date" class="form-control form-control-sm" placeholder="Last Appointment Date">
            <div *ngIf="form.get('appointment_date').errors && (form.get('appointment_date').dirty || form.get('appointment_date').touched || isClickNext)">
                <p *ngIf="form.get('appointment_date').errors.required" class="text-danger">{{validationMessages.required('Appointment date')}}</p>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="service_grade" class="col-sm-3 col-form-label">Service Grade</label>
        <div class="col-sm-5">
            <select formControlName="service_grade" class="form-control form-control-sm" placeholder="Service Ggrade">
                <option *ngFor="let grade of grades" [value]=grade.id >{{ grade.name }}</option> 
            </select>
            <div *ngIf="form.get('service_grade').errors && (form.get('service_grade').dirty || form.get('service_grade').touched || isClickNext)">
                <p *ngIf="form.get('service_grade').errors.required" class="text-danger">{{validationMessages.required('Service grade')}}</p>
            </div>
        </div>
    </div> 

</div>