<div class="container">
  <div class="row justify-content-end">
    <i class="fas fa-times fa-1x" (click)="close()"></i>
  </div>
  <div class="row">
    <label>
      <h3>Service Details</h3>
    </label>
  </div><br />

  <div class="content">
    <div class="row">
      <div class="col-md-6">
        <label>Service</label>
      </div>
      <div class="col-md-6">
        <label>{{dataConfig.pd3BasicInformation.serviceDomain}}</label>
      </div>
    </div><br />

    <div class="row">
      <div class="col-md-6">
        <label>Grade</label>
      </div>
      <div class="col-md-6">
        <label>{{dataConfig.pd3BasicInformation.grade}}</label>
      </div>
    </div><br />

    <div class="row">
      <div class="col-md-6">
        <label>Date of first appointment</label>
      </div>
      <div class="col-md-6">
        <label>{{dataConfig.pd3BasicInformation.firstAppoinmentDate}}</label>
      </div>
    </div><br />

    <div class="row">
      <div class="col-md-6">
        <label>Date of permanant appointment </label>
      </div>
      <div class="col-md-6">
        <label>{{dataConfig.pd3BasicInformation.dateOfPermanantAppoinment}}</label>
      </div>
    </div><br />

    <div class="row">
      <div class="col-md-6">
        <label>Date of retired</label>
      </div>
      <div class="col-md-6">
        <label>{{dataConfig.pd3BasicInformation.dateOfRetired}}</label>
      </div>
    </div><br />

    <div class="row">
      <div class="col-md-6">
        <label>Section</label>
      </div>
      <div class="col-md-6">
        <label>{{dataConfig.pd3BasicInformation.sectionUnder}}</label>
      </div>
    </div><br />

    <div class="row">
      <div class="col-md-6">
        <label>Retirement reason</label>
      </div>
      <div class="col-md-6">
        <label>{{dataConfig.pd3BasicInformation.retiredReason}}</label>
      </div>
    </div><br />

    <div class="row">
      <div class="col-md-6">
        <label>Trained period</label>
      </div>
      <div class="col-md-6">
        <label>{{dataConfig.pd3BasicInformation.trainedPeriod}}</label>
      </div>
    </div><br />

    <div class="row">
      <div class="col-md-6">
        <label>W&OP deduct period</label>
      </div>
      <div class="col-md-6">
        <label>{{dataConfig.pd3BasicInformation.wnopDeductedPeriod}}</label>
      </div>
    </div><br />

    <div class="row">
      <div class="col-md-6">
        <label>Permanant period</label>
      </div>
      <div class="col-md-6">
        <label>{{dataConfig.pd3BasicInformation.permanantPeriod}}</label>
      </div>
    </div><br />

    <div class="row">
      <div class="col-md-6">
        <label>Total Service period</label>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-4">Days-{{dataConfig.pd3BasicInformation.servicePeriod.days}}</div>
          <!-- <div class="col-md-1"></div> -->
          <div class="col-md-4">Months-{{dataConfig.pd3BasicInformation.servicePeriod.months}}</div>
          <!-- <div class="col-md-1"></div> -->
          <div class="col-md-4">Years-{{dataConfig.pd3BasicInformation.servicePeriod.years}}</div>
        </div>
      </div>
    </div><br />
  </div>
</div>