<div class="container">
  <div class="row">
    <label>
      <h2>Reports List</h2>
    </label>
  </div><br />
  <div class="row align-items-center justify-content-start card p-3 border-dark">

   <!-- Postal Report -->
    <div class="col-md-10" *ngIf="postalReport">
      <ul>
        <li>
          <div class="row">
            <div class="col-md-5">
              <label>
                <h5>Postal Report</h5>
              </label>
            </div>
            <div class="col-md-3">
              <button mat-raised-button color="primary" (click)=postalDatepickerPopup()>View Report</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    
    <!-- Sathkara report -->
    <div class="col-md-10" *ngIf="sathkaraReport">
      <ul>
        <li>
          <div class="row">
            <div class="col-md-5">
              <label>
                <h5>Sathkara Daily Report</h5>
              </label>
            </div>
            <div class="col-md-3">
              <button mat-raised-button color="primary" (click)=viewSathkaraReport()>View Report</button>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <!-- Daily Gratuity Report -->
    <div class="col-md-10" *ngIf="dailyGratuityReport">
        <ul>
          <li>
            <div class="row">
              <div class="col-md-5">
                <label>
                  <h5>Daily Gratuity Report</h5>
                </label>
              </div>
              <div class="col-md-3">
                <button mat-raised-button color="primary" (click)=viewDailyGratuityReport()>View Report</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
  
      <!-- daily Regsitration Recheck Report -->
      <div class="col-md-10" *ngIf="dailyRegistrationRecheckReport">
          <ul>
            <li>
              <div class="row">
                <div class="col-md-5">
                  <label>
                    <h5>Daily Registrations Recheck Report</h5>
                  </label>
                </div>
                <div class="col-md-3">
                  <button mat-raised-button color="primary" (click)=viewDailyRegistrationRecheckReport()>View Report</button>
                </div>
              </div>
            </li>
          </ul>
        </div>

  </div>
</div>