<div class="container">
  <div class="row">
    <label>
      <h2>View Pensions</h2>
    </label>
  </div><br />
  <div class="container">
    <div class="row justify-content-md-center" *ngIf="spinner.viewPensionsSpinner==true">
      <div class="col col-lg-2 col-md-2 col-sm-2">
      </div>
      <div class="col-md-auto col-sm-state auto align-self-center">
        No pensioners found for this state
      </div>
      <div class="col col-lg-2 col-md-2 col-sm-2">
      </div>
    </div>
  </div>
  <table *ngIf="spinner.viewPensionsSpinner==false">
    <tr>
      <th>Pension Number</th>
      <th>Type</th>
      <th>Office</th>
      <th>Circular</th>
      <th>State</th>
      <th>History</th>
      <th *ngIf="buttonConfig.receive==true">Receive</th>
      <th *ngIf="buttonConfig.more==true">More</th>
      <th *ngIf="buttonConfig.editPension==true">Edit</th>
    </tr>
    <tr *ngFor="let list of dataConfig.pd3ViewPensions">
      <td>{{list.id}}</td>
      <td>{{dataConfig.pd3Pensioner.pensionerType}}</td>
      <td>{{list.pensionPoint.rel}}</td>
      <td>{{list.circular}}</td>
      <td>{{list.state.rel}}</td>
      <td><button mat-raised-button color="primary" (click)="applicationHistoryPopup(list.id)">History</button></td>
      <td *ngIf="buttonConfig.receive==true"><button mat-raised-button color="primary" (click)="receivePension(list.id)">Receive</button></td>
      <td *ngIf="buttonConfig.more==true"><button mat-raised-button color="primary" routerLink="/pd3-pensions/{{state}}/pd3-detailed-view/{{refNumber}}/{{list.id}}">More</button></td>
      <td *ngIf="buttonConfig.editPension==true"><button mat-raised-button color="primary" routerLink="/pd3-pensions/edit-pension">Edit</button></td>
    </tr>
  </table>
</div>