<form>
  <div class="container content">
    <form action="">
    <div class="form-group row">
      <label class="col-md-6 col-form-label" class="ref">Enter reason for rejection : </label>
      &nbsp;&nbsp;&nbsp;
      <label for="">
        <textarea rows = "3" cols = "30" name = "description" [(ngModel)]="reason">
       </textarea>
      </label>
    </div>
    <div class="form-group row">
      <div class="col-md-6">
        <button color="primary" class="next-button" (click)="submit_reason()">Submit Reason</button>
      </div>
    </div>
  </form>
  </div>
</form>