h2{
    font-family: fantasy;
    color:#3f51b5;
}

.example-stretched-tabs {
    max-width: 100%;
  }

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}