.next-button{
    width: 150px;
    height: 30px;
    color: white;
    background-color: rgba(51, 144, 250, 0.808);
    -webkit-box-shadow: 0px 2px 16px 2px rgba(145,135,145,1);
    -moz-box-shadow: 0px 2px 16px 2px rgba(145,135,145,1);
    box-shadow: 0px 2px 16px 2px rgba(145,135,145,1);
    border-radius: 10px;
    border: none;
    outline: none;
}

.cancel-button{
  width: 150px;
  height: 30px;
  color: white;
  background-color: rgba(133, 135, 138, 0.808);
  -webkit-box-shadow: 0px 2px 16px 2px rgba(145,135,145,1);
  -moz-box-shadow: 0px 2px 16px 2px rgba(145,135,145,1);
  box-shadow: 0px 2px 16px 2px rgba(145,135,145,1);
  border-radius: 10px;
  border: none;
  outline: none;
  margin-left: 48px;
}

.label1{
  font-size: 30px;
  font-family: cursive;
  text-align: center;
}

.ref{
  text-align: center;
  margin-left: 133px;
}

.reason_box{
  width: 244px;
  height: 107px;
}
.redwarning{
  color: red;
}