<form [formGroup]="form">

  <div class="container content" formGroupName="basicInformation">

    <hr>
    <div class="form-group row">
      <label for="personalid" class="col-sm-2 col-form-label">PID</label>
      <div class="col-sm-4">
        <input formControlName="personalid" type="text" [(ngModel)]="pensiondetail.id"
          class="form-control form-control-sm" placeholder="Person id" readonly>
      </div>
      <label for="nic" class="col-md-2 col-form-label">NIC number</label>
      <div class="col-md-4"><input type="text" formControlName="nic" [(ngModel)]="pensiondetail.nic"
          class="form-control form-control-sm" placeholder="NIC" readonly />
      </div>
    </div>

    <div class="form-group row justify-content-center">
      <label for="title" class="col-md-2 col-form-label">Title</label>
      <div class="col-md-4">
        <select class="col-md-12 col-form-label" formControlName="title" [(ngModel)]="fillpersonal.title">
          <option value="0" disabled>--Select One--</option>
          <option *ngFor="let title of titleList" value={{title.name}}>{{title.name}}</option>
        </select>
      </div>
      <label for="fullname" class="col-md-2 col-form-label">Full name</label>
      <div class="col-md-4"><input type="text" formControlName="name" [(ngModel)]="pensiondetail.name"
          class="form-control form-control-sm" placeholder="Full name" required />
      </div>

    </div>

    <div class="form-group row justify-content-center">
      <label for="gender" class="col-md-2 col-form-label">Gender</label>
      <div class="col-md-4 justify-content-center">
        <div class="form-check form-check-inline">
          <input formControlName="gendermale" [(ngModel)]="fillpersonal.gender" [value]=1 class="form-check-input"
            type="radio" id="inlineRadio1">
          <label class="form-check-label" for="inlineRadio1">Male</label>
        </div>
        <div class="form-check form-check-inline">
          <input formControlName="genderfemale" [(ngModel)]="fillpersonal.gender" [value]=0 class="form-check-input"
            type="radio" id="inlineRadio2">
          <label class="form-check-label" for="inlineRadio2">Female</label>
        </div>
      </div>
      <label for="dob" class="col-md-2 col-form-label">Date of Birth</label>
      <div class="col-md-4"><input type="date" formControlName="dob" [(ngModel)]="pensiondetail.dob"
          class="form-control form-control-sm" placeholder="DOB"></div>
    </div>

    <div class="form-group row justify-content-left">

      <label for="address" class="col-md-2 col-form-label">Permanent address</label>
      <div class="col-md-4">
        <input type="text" formControlName="address1" [(ngModel)]="pensiondetail.ad1"
          class="form-control form-control-sm" placeholder="Address 1"> <br />
        <input type="text" formControlName="address2" [(ngModel)]="pensiondetail.ad2"
          class="form-control form-control-sm" placeholder="Address 2"> <br />
        <input type="text" formControlName="address3" [(ngModel)]="pensiondetail.ad3"
          class="form-control form-control-sm" placeholder="Address 3">
      </div>
    </div>

    <div class="form-group row justify-content-center">
      <label for="mobile" class="col-md-2 col-form-label">Mobile number (94xxxxxxxxx)</label>
      <div class="col-md-4"><input type="text" formControlName="mobile" [(ngModel)]="mobprefix"
          class="form-control form-control-sm" placeholder="Mobile" maxlength="11">
      </div>
      <label for="landline" class="col-md-2 col-form-label">Land Phone number</label>
      <div class="col-md-4"><input type="text" formControlName="landline" [(ngModel)]="pensiondetail.phone"
          class="form-control form-control-sm" placeholder="Land line number" maxlength="10"></div>
    </div>

    <div class="form-group row justify-content-center">
      <label for="basicpension" class="col-md-2 col-form-label">Designation</label>
      <div class="col-md-4">
        <select class="col-md-12 col-form-label" formControlName="designation" [(ngModel)]="fillpersonal.designation">
          <!-- <option value="0" disabled>--Select One--</option> -->
          <option *ngFor="let d of designationlist" value={{d.id}}>{{d.name}}</option>
        </select>
      </div>
      <label for="totalpension" class="col-md-2 col-form-label">Service</label>
      <div class="col-md-4">
        <select class="col-md-12 col-form-label" formControlName="service" [(ngModel)]="fillpersonal.service">
          <option value="0" disabled>--Select One--</option>
          <option *ngFor="let service of servicelist" value={{service.id}}>{{service.name}}</option>
        </select>
      </div>
    </div>

    <hr>

    <div class="form-group row justify-content-center">
      <label for="basicpension" class="col-md-2 col-form-label">Basic Pension</label>
      <div class="col-md-4">
        <input formControlName="basicpension" [(ngModel)]="pensiondetail.bpen" type="text"
          class="form-control form-control-sm" readonly>
      </div>
      <label for="totalpension" class="col-md-2 col-form-label">Total Pension</label>
      <div class="col-md-4">
        <input formControlName="totalpension" [(ngModel)]="pensiondetail.tpen" type="text"
          class="form-control form-control-sm" readonly>
      </div>
    </div>

    <div class="form-group row justify-content-center">
      <label for="bankaccountno" class="col-md-2 col-form-label">Bank account number</label>
      <div class="col-md-4">
        <input formControlName="bankaccountno" [(ngModel)]="pensiondetail.bac" type="text"
          class="form-control form-control-sm" readonly>
      </div>
      <label for="bankcode" class="col-md-2 col-form-label">Bank Code</label>
      <div class="col-md-4">
        <input formControlName="bankcode" [(ngModel)]="pensiondetail.brno" type="text"
          class="form-control form-control-sm" readonly>
      </div>
    </div>


    <hr>

    <div class="form-group row justify-content-center">
      <label for="district" class="col-md-2 col-form-label">District Name</label>
      <div class="col-md-4"><input type="text" [(ngModel)]="fillpersonal.district " formControlName="district"
          class="form-control form-control-sm" placeholder="District"></div>
      <label for="divsec" class="col-md-2 col-form-label">Divisional Secretariat</label>
      <div class="col-md-4"><input type="text" formControlName="divsec" class="form-control form-control-sm"
          [(ngModel)]="fillpersonal.division" placeholder="Division Secretariat"></div>
    </div>

  </div>
</form>