<div class="main-container">

	<!-- DS PENSIONER OFFICER VIEW -->
	<div id="revision" *ngIf="pension_officer">
		<td style="padding-left: 1256px;">
			<button class="print-button" (click)="print()">PRINT</button>
		</td>
		<div class="row-fluid">

			<div>
				<img src="assets/images/deptpension.PNG" class="deptlogo" alt="">
			</div>
			<table>
				<tr>
					<td width="15%" style="text-align:center; font-size:12px;">
						<div>
							<h5> Reference Number : {{ref}}</h5>
						</div>

					</td>
					<td style="text-align:center; font-size:12px;" width="65%">
						<div>
							<p class="main-heading">2019 SALARY REVISION</p>
						</div>

					</td>
					<td>
						<table>
							<tr>
								<td>

								</td>
								<td>

								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>

		</div>

		<!-- Pensioner details -->
		<div style="margin:5px">
			<h2 class="heading">&nbsp;&nbsp;Pensioner Details</h2>

			<table>
				<tr style="width:100%;">
					<td style="width:25%;">
						<h5>Full Name</h5>
					</td>
					<td style="width:25%;"><label for="">
							<h5>{{pensionmodel.personalInfo.fullName}}</h5>
						</label>
					</td>
					<td style="width:25%;">
						<h5>NIC</h5>
					</td>
					<td style="width:25%;"><label for="">
							<h5>{{pensionmodel.personalInfo.nic}}</h5>
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<h5>Gender</h5>
					</td>
					<td><label for="">
							<h5>{{gender}}</h5>
						</label>
					</td>
					<td>
						<h5>Date of Birth</h5>
					</td>
					<td><label for="">
							<h5>{{pensionmodel.personalInfo.dob}}</h5>
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<h5>Permanent Address</h5>
					</td>
					<td><label for="">
							<h5>{{pensionmodel.personalInfo.address.addressLine1}}
								{{pensionmodel.personalInfo.address.addressLine2}}
								{{pensionmodel.personalInfo.address.addressLine3}}</h5>
						</label>
					</td>
					<td>
						<h5>Mobile Number</h5>
					</td>
					<td><label for="">
							<h5>{{pensionmodel.personalInfo.mobile}}</h5>
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<h5>Land line Number</h5>
					</td>
					<td><label for="">
							<h5>{{pensionmodel.personalInfo.landNumber}}</h5>
						</label>
					</td>
					<td>
						<h5>Pension Number</h5>
					</td>
					<td><label for="">
							<h5>{{pensionmodel.pension.id}}</h5>
						</label>
					</td>
				</tr>

				<tr>
					<td>
						<h5>Designation</h5>
					</td>
					<td><label for="">
							<h5>{{designation}}</h5>
						</label>
					</td>
					<td>
						<h5>Service</h5>
					</td>
					<td><label for="">
							<h5>{{service}}</h5>
						</label>
					</td>

				</tr>
				<tr>
					<td>
						<h5>Pension Type</h5>
					</td>
					<td><label for="">
							<h5>{{pensionmodel.pension.pension_type}}</h5>
						</label>
					</td>
					<td>
						<h5>Dscode</h5>
					</td>
					<td><label for="">
							<h5>{{pensionmodel.personalInfo.dscode}}</h5>
						</label>
					</td>

				</tr>
			</table>
		</div>

		<!-- Salary details -->
		<div style="margin:5px">
			<h2 class="heading">&nbsp;&nbsp; 6/2006 Salary particulars</h2>

			<table>
				<tr style="width:100%;">
					<td style="width:25%;">
						<h5>Scale</h5>
					</td>
					<td style="width:25%;"><label for="">
							<h5>{{scalename}}</h5>
						</label>
					</td>
					<td style="width:25%;">
						<h5>Grade</h5>
					</td>
					<td style="width:25%;"><label for="">
							<h5>{{gradename}}</h5>
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<h5>Monthly Salary</h5>
					</td>
					<td><label for="">
							<h5>{{pensionmodel.revision.prev_basic_salary}}</h5>
						</label>
					</td>
					<td>
						<h5>Section</h5>
					</td>
					<td><label for="">
							<h5>{{pensionmodel.pension_service.section}}</h5>
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<h5>Date of retired</h5>
					</td>
					<td><label for="">
							<h5>{{pensionmodel.pension_service.retired_date}}</h5>
						</label>
					</td>
					<td>
						<h5>Date of increment</h5>
					</td>
					<td><label for="">
							<h5>{{pensionmodel.pension.increment_date}}</h5>
						</label>
					</td>
				</tr>
				<tr>
					<td>
						<h5>Service period</h5>
					</td>
					<td><label for="">
							<h5> Days : {{pensionmodel.pension_service.net_service_days}}
								Months : {{pensionmodel.pension_service.net_service_months}}
								Years : {{pensionmodel.pension_service.net_service_years}}
							</h5>
						</label>
					</td>
					<td>
						<h5>No-pay Leaves</h5>
					</td>

					<td><label for="">
							<h5> Days : {{pensionmodel.pension_service.nopay_days}}
								Months : {{pensionmodel.pension_service.nopay_months}}
								Years : {{pensionmodel.pension_service.nopay_years}}
							</h5>
						</label>
					</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>
						<p style="font-size: 12px;">(According to Pension circular 1/2019 guideline:point 3)</p>
					</td>
				</tr>

				<h5> <u> Allowances</u></h5>


				<tr>
					<td>
						<h5> Pensionable </h5>
					</td>
					<td><label for="">

							<h5 *ngFor="let y of pensionable">{{y.descpen}} - {{y.amountpen}}</h5>
						</label>
					</td>
				</tr>

				<tr>
					<td>
						<h5> Non-Pensionable </h5>
					</td>
					<td><label for="">

							<h5 *ngFor="let x of nonpensionable">{{x.descnon}} - {{x.amountnon}}</h5>
						</label>
					</td>
				</tr>


			</table>
		</div>


		<!-- Calculation details -->
		<div style="margin:5px">
			<h2 class="heading">&nbsp;&nbsp; Calculation details</h2>
			<br>
			<h5>
				<table style="width:100%;">
					<tr style="width:30%;border: 1px solid black;text-align: center;font-weight: bold;">
						<th style="border: 1px solid black;">
							<h5>Existing pension</h5>
						</th>
						<th style="border: 1px solid black;">
							<h5>Pension as per 6/2006</h5>
						</th>
						<th style="border: 1px solid black;">
							<h5>Pension after revision 14/2019</h5>
						</th>
					</tr>
					<tr>
						<td class="table-css">
							<h5>Pension : {{bpen}}</h5>
						</td>
						<td class="table-css">
							<h5>2015 Salary (+ Increment): {{salary2015}}</h5>
						</td>
						<td class="table-css">
							<h5>2017 Salary (+ Increment): {{salary2017}}</h5>
						</td>
					</tr>
					<tr>
						<td class="table-css">
							<h5>Allowances : {{existing_allowances}}</h5>
						</td>
						<td class="table-css">
							<h5>Reduced Percentage : {{pensionmodel.revision.prev_reduced_percentage}} %</h5>
						</td>
						<td class="table-css">
							<h5>Reduced Percentage : {{pensionmodel.revision.reduce_percentage_revised}} %</h5>
						</td>
					</tr>
					<tr>
						<td class="table-css">
							<h5>Total Pension : {{tpen}}</h5>
						</td>
						<td class="table-css">
							<h5>Unreduced Percentage : {{pensionmodel.revision.prev_unreduced_percentage}} %</h5>
						</td>
						<td class="table-css">
							<h5>Unreduced Percentage : {{pensionmodel.revision.unreduced_percentage_revised}} %</h5>
						</td>
					</tr>
					<tr>
						<td>
							<h5></h5>
						</td>
						<td class="table-css">
							<h5>Reduced Pension : {{pensionmodel.revision.prev_reduced_salary}}</h5>
						</td>
						<td class="table-css">
							<h5>Reduced Pension : {{pensionmodel.revision.reduced_salary_revised}}</h5>
							<p style="font-size: 12px;">(According to P.A.Circular 14/19 Section 6)</p>
						</td>
					</tr>
					<tr>
						<td></td>

						<td class="table-css">
							<h5>Unreduced Pension : {{pensionmodel.revision.prev_unreduced_salary}}</h5>
						</td>
						<td class="table-css">
							<h5>Unreduced Pension : {{pensionmodel.pension.unreduced_salary}}</h5>
						</td>
					</tr>
					<br>
					<tr>
						<td class="table-css">
							<h5>Total pensionable Allowances : {{pentot}}</h5>
						</td>
						<td class="table-css">
							<h5>Total non-pensionable Allowances : {{nontot}}</h5>
						</td>
						<td class="table-css">
							<h5>Real Salary increase : {{pensionmodel.revision.salary_increase}}
							</h5>
						</td>
					</tr>
					<tr>
						<td>

						</td>
						<td>

						</td>
						<td class="table-css">
							<h5>Total pension to be paid after revision : {{pensionmodel.pension.total_amount_paid}}
							</h5>
							<p style="font-size: 12px;">(Including CLA 3525 and Allowances)</p>
						</td>
					</tr>

				</table>
			</h5>
		</div>

		<!-- Declaration -->
		<br>
		<div style="margin:5px">
			<table style="text-align: center">
				<tr>
					<td>
						<h5>Prepared by</h5>
					</td>
					<td>
						<h5>Checked by</h5>
					</td>
					<td>
						<h5>Recommended by</h5>
					</td>
					<td>
						<h5>Approved by</h5>
					</td>
				</tr>
				<br>
				<tr>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>_________________________</td>
					<td>_________________________</td>
					<td>_________________________</td>
					<td>_________________________</td>
				</tr>
				<tr>
					<td>
						<h5></h5>
					</td>
					<td>
						<h5></h5>
					</td>
					<td>
						<h5></h5>
					</td>
					<td>
						<h5>Authorised Officer</h5>
					</td>
				</tr>
				<tr>
					<td>{{today}}</td>
					<td>{{today}}</td>
					<td>{{today}}</td>
					<td>{{today}}</td>
				</tr>
			</table>
		</div>
	</div>

	<!-- DS ACCOUNTANT VIEW -->

	<div *ngIf="accountant">

		<td style="text-align:center;padding-left: 1082px;">
			<button
				*ngIf="status=='pending' || status=='rejected' || status=='approved' || status=='paid' || status=='negative'"
				class="print-button" (click)="print()">PRINT</button>
			<button *ngIf="status=='pending' || status=='rejected' || status=='approved'" class="reject-button"
				(click)="reject()">REJECT</button>
			<button *ngIf="status=='pending' || status=='rejected'" class="approved-button"
				(click)="approve()">APPROVE</button>

		</td>

		<div id="revision">
			<div class="row-fluid">

				<div>
					<img src="assets/images/deptpension.PNG" class="deptlogo" alt="">
				</div>
				<table>
					<tr>
						<td width="15%" style="text-align:center; font-size:12px;">
							<div>
								<h5> Reference Number : {{ref}}</h5>
							</div>

						</td>
						<td style="text-align:center; font-size:12px;" width="65%">
							<div>
								<p class="main-heading">2019 SALARY REVISION</p>
							</div>

						</td>
						<td>
							<table>
								<tr>
									<td>

									</td>
									<td>

									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>

			</div>

			<!-- Pensioner details -->
			<div style="margin:5px">
				<h2 class="heading">&nbsp;&nbsp;Pensioner Details</h2>

				<table>
					<tr style="width:100%;">
						<td style="width:25%;">
							<h5>Full Name</h5>
						</td>
						<td style="width:25%;"><label for="">
								<h5>{{pensionmodel.personalInfo.fullName}}</h5>
							</label>
						</td>
						<td style="width:25%;">
							<h5>NIC</h5>
						</td>
						<td style="width:25%;"><label for="">
								<h5>{{pensionmodel.personalInfo.nic}}</h5>
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<h5>Gender</h5>
						</td>
						<td><label for="">
								<h5>{{gender}}</h5>
							</label>
						</td>
						<td>
							<h5>Date of Birth</h5>
						</td>
						<td><label for="">
								<h5>{{pensionmodel.personalInfo.dob}}</h5>
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<h5>Permanent Address</h5>
						</td>
						<td><label for="">
								<h5>{{pensionmodel.personalInfo.address.addressLine1}}
									{{pensionmodel.personalInfo.address.addressLine2}}
									{{pensionmodel.personalInfo.address.addressLine3}}</h5>
							</label>
						</td>
						<td>
							<h5>Mobile Number</h5>
						</td>
						<td><label for="">
								<h5>{{pensionmodel.personalInfo.mobile}}</h5>
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<h5>Land line Number</h5>
						</td>
						<td><label for="">
								<h5>{{pensionmodel.personalInfo.landNumber}}</h5>
							</label>
						</td>
						<td>
							<h5>Pension Number</h5>
						</td>
						<td><label for="">
								<h5>{{pensionmodel.pension.id}}</h5>
							</label>
						</td>
					</tr>

					<tr>
						<td>
							<h5>Designation</h5>
						</td>
						<td><label for="">
								<h5>{{designation}}</h5>
							</label>
						</td>
						<td>
							<h5>Service</h5>
						</td>
						<td><label for="">
								<h5>{{service}}</h5>
							</label>
						</td>

					</tr>
					<tr>
						<td>
							<h5>Pension Type</h5>
						</td>
						<td><label for="">
								<h5>{{pensionmodel.pension.pension_type}}</h5>
							</label>
						</td>
						<td>
							<h5>Dscode</h5>
						</td>
						<td><label for="">
								<h5>{{pensionmodel.personalInfo.dscode}}</h5>
							</label>
						</td>

					</tr>
				</table>
			</div>

			<!-- Salary details -->
			<div style="margin:5px">
				<h2 class="heading">&nbsp;&nbsp; 6/2006 Salary particulars</h2>

				<table>
					<tr style="width:100%;">
						<td style="width:25%;">
							<h5>Scale</h5>
						</td>
						<td style="width:25%;"><label for="">
								<h5>{{scalename}}</h5>
							</label>
						</td>
						<td style="width:25%;">
							<h5>Grade</h5>
						</td>
						<td style="width:25%;"><label for="">
								<h5>{{gradename}}</h5>
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<h5>Monthly Salary</h5>
						</td>
						<td><label for="">
								<h5>{{pensionmodel.revision.prev_basic_salary}}</h5>
							</label>
						</td>
						<td>
							<h5>Section</h5>
						</td>
						<td><label for="">
								<h5>{{pensionmodel.pension_service.section}}</h5>
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<h5>Date of retired</h5>
						</td>
						<td><label for="">
								<h5>{{pensionmodel.pension_service.retired_date}}</h5>
							</label>
						</td>
						<td>
							<h5>Date of increment</h5>
						</td>
						<td><label for="">
								<h5>{{pensionmodel.pension.increment_date}}</h5>
							</label>
						</td>
					</tr>
					<tr>
						<td>
							<h5>Service period</h5>
						</td>
						<td><label for="">
								<h5> Days : {{pensionmodel.pension_service.net_service_days}}
									Months : {{pensionmodel.pension_service.net_service_months}}
									Years : {{pensionmodel.pension_service.net_service_years}}
								</h5>
							</label>
						</td>
						<td>
							<h5>No-pay Leaves</h5>
						</td>
						<td><label for="">
								<h5> Days : {{pensionmodel.pension_service.nopay_days}}
									Months : {{pensionmodel.pension_service.nopay_months}}
									Years : {{pensionmodel.pension_service.nopay_years}}
								</h5>
							</label>
						</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td>
							<p style="font-size: 12px;">(According to Pension circular 1/2019 guideline:point 3)</p>
						</td>
					</tr>
					<h5> <u> Allowances</u></h5>
					<tr>
						<td>
							<h5> Pensionable </h5>
						</td>
						<td><label for="">

								<h5 *ngFor="let y of pensionable">{{y.descpen}} - {{y.amountpen}}</h5>
							</label>
						</td>
					</tr>

					<tr>
						<td>
							<h5> Non-Pensionable </h5>
						</td>
						<td><label for="">

								<h5 *ngFor="let x of nonpensionable">{{x.descnon}} - {{x.amountnon}}</h5>
							</label>
						</td>
					</tr>


				</table>
			</div>

			<!-- Calculation details -->
			<div style="margin:5px">
				<h2 class="heading">&nbsp;&nbsp; Calculation details</h2>
				<br>
				<h5>
					<table style="width:100%;">
						<tr style="width:30%;border: 1px solid black;text-align: center;font-weight: bold;">
							<th style="border: 1px solid black;">
								<h5>Existing pension</h5>
							</th>
							<th style="border: 1px solid black;">
								<h5>Pension as per 6/2006</h5>
							</th>
							<th style="border: 1px solid black;">
								<h5>Pension after revision 14/2019</h5>
							</th>
						</tr>
						<tr>
							<td class="table-css">
								<h5>Pension : {{bpen}}</h5>
							</td>
							<td class="table-css">
								<h5>2015 Salary (+ Increment): {{salary2015}}</h5>
							</td>
							<td class="table-css">
								<h5>2017 Salary (+ Increment): {{salary2017}}</h5>
							</td>
						</tr>
						<tr>
							<td class="table-css">
								<h5>Allowances : {{existing_allowances}}</h5>
							</td>
							<td class="table-css">
								<h5>Reduced Percentage : {{pensionmodel.revision.prev_reduced_percentage}} %</h5>
							</td>
							<td class="table-css">
								<h5>Reduced Percentage : {{pensionmodel.revision.reduce_percentage_revised}} %</h5>
							</td>
						</tr>
						<tr>
							<td class="table-css">
								<h5>Total Pension : {{tpen}}</h5>
							</td>
							<td class="table-css">
								<h5>Unreduced Percentage : {{pensionmodel.revision.prev_unreduced_percentage}} %</h5>
							</td>
							<td class="table-css">
								<h5>Unreduced Percentage : {{pensionmodel.revision.unreduced_percentage_revised}} %</h5>
							</td>
						</tr>
						<tr>
							<td>
								<h5></h5>
							</td>
							<td class="table-css">
								<h5>Reduced Pension : {{pensionmodel.revision.prev_reduced_salary}}</h5>
							</td>
							<td class="table-css">
								<h5>Reduced Pension : {{pensionmodel.revision.reduced_salary_revised}}</h5>
								<h5>(According to P.A.Circular 14/19 Section 6)</h5>
							</td>
						</tr>
						<tr>
							<td></td>

							<td class="table-css">
								<h5>Unreduced Pension : {{pensionmodel.revision.prev_unreduced_salary}}</h5>
							</td>
							<td class="table-css">
								<h5>Unreduced Pension : {{pensionmodel.pension.unreduced_salary}}</h5>
							</td>
						</tr>
						<br>
						<tr>
							<td class="table-css">
								<h5>Total pensionable Allowances : {{pentot}}</h5>
							</td>
							<td class="table-css">
								<h5>Total non-pensionable Allowances : {{nontot}}</h5>
							</td>
							<td class="table-css">
								<h5>Real Salary increase : {{pensionmodel.revision.salary_increase}}
								</h5>
							</td>
						</tr>
						<tr>
							<td>
							</td>
							<td>
							</td>
							<td class="table-css">
								<h5>Total pension to be paid after revision : {{pensionmodel.pension.total_amount_paid}}
								</h5>
								<p style="font-size: 12px;">(Including CLA 3525 and Allowances)</p>
							</td>
						</tr>
					</table>
				</h5>
			</div>
			<!-- Declaration -->
			<br>

			<div style="margin:5px">
				<table style="text-align: center">
					<tr>
						<td>
							<h5>Prepared by</h5>
						</td>
						<td>
							<h5>Checked by</h5>
						</td>
						<td>
							<h5>Recommended by</h5>
						</td>
						<td>
							<h5>Approved by</h5>
						</td>
					</tr>
					<br>
					<tr>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>_________________________</td>
						<td>_________________________</td>
						<td>_________________________</td>
						<td>_________________________</td>
					</tr>
					<tr>
						<td>
							<h5></h5>
						</td>
						<td>
							<h5></h5>
						</td>
						<td>
							<h5></h5>
						</td>
						<td>
							<h5>Authorised Officer</h5>
						</td>
					</tr>
					<tr>
						<td>{{today}}</td>
						<td>{{today}}</td>
						<td>{{today}}</td>
						<td>{{today}}</td>
					</tr>
				</table>
			</div>
		</div>

	</div>
</div>