<div class="container">

  <div class="background" *ngFor="let detail of result">
    <button class="print" (click)="printDocument()">Print</button>
    <img src="../../../../../assets/images/pdsixaward.jpg" style="width:100%;height: 110%;" alt="" />

    <div class="pensionid">{{detail.pension.pension_type}}/{{detail.pension.id}}</div>
    <div class="today_date">{{today}}</div>
    <div class="section1">{{detail.pension_service.section}}</div>
    <div class="section">{{detail.pension_service.section}}</div>
    <div class="full_name">{{detail.personalInfo.fullName}}</div>
    <div class="nic">{{detail.personalInfo.nic}}</div>
    <div class="gradename">{{service}} / {{gradename}}</div>
    <div class="salary_scale">{{scalename}}</div>
    <div class="monthly_salary">Rs {{(detail.revision.prev_basic_salary).toFixed(2)}}</div>
    <div class="allowance">Rs {{allo_total.toFixed(2)}}</div>
    <div class="basic_salary">Rs {{(detail.pension.basic_salary).toFixed(2)}}</div>
    <div class="net_service_period">{{detail.pension_service.net_service_years}} Years -
      {{detail.pension_service.net_service_months}} Months - {{detail.pension_service.net_service_days}} Days</div>
    <div class="retired_date">{{detail.pension_service.retired_date}}</div>
    <div class="payable_date">2019-07-01</div>
    <div class="bpen">Unreduced - Rs {{detail.revision.unreduced_salary_revised.toFixed(2)}}</div>
    <div class="sev_reduced">Reduced - Rs {{detail.revision.reduced_salary_revised.toFixed(2)}}</div>
    <div class="sev_unreduced"></div>
    <div class="div_sect_next">{{division}}</div>
    <div class="div_sect_next1">{{division}}</div>

  </div>

</div>