<h2 class="text-muted">Dashboard (PD3)</h2>
<div class="row">
  <div class="col-md-3 col-xs-3" *ngFor="let dashboardConfig of dashboardConfig.dashboardConfig">
    <app-dashboard-tile  [name]="dashboardConfig.name"
      [path]="dashboardConfig.path" [color]="dashboardConfig.color">
    </app-dashboard-tile>
  </div>
</div>