<div class="container">
  <div class="row justify-content-end">
    <i class="fas fa-times fa-1x" (click)="close()"></i>
  </div>
  <div class="row">
    <label>
      <h3>Dependent Details</h3>
    </label>
  </div><br />

  <div class="row justify-content-center">
    <div class="col-md-3">
      <label>Full name</label>
    </div>
    <div class="col-md-5">{{dataConfig.pd3Dependent.name}}</div>
  </div><br />

  <div class="row justify-content-center">
    <div class="col-md-3">
      <label>Relation</label>
    </div>
    <div class="col-md-5">{{dataConfig.pd3Dependent.relation}}</div>
  </div><br />

  <div class="row justify-content-center">
    <div class="col-md-3">
      <label>Date of Birth</label>
    </div>
    <div class="col-md-5">{{dataConfig.pd3Dependent.dob}}</div>
  </div><br />

  <div class="row justify-content-center">
    <div class="col-md-3">
      <label>Address</label>
    </div>
    <div class="col-md-5">{{dataConfig.pd3Dependent.address}}</div>
  </div><br />

  <div class="row justify-content-center">
    <div class="col-md-3">
      <label>NIC Number</label>
    </div>
    <div class="col-md-5">{{dataConfig.pd3Dependent.nic}}</div>
  </div><br />

  <div class="row justify-content-center">
    <div class="col-md-3">
      <label>Marital Status</label>
    </div>
    <div class="col-md-5">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio3" [checked]="dataConfig.pd3Dependent.maritalStatus==true">
            <label class="form-check-label" for="inlineRadio3">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio4" [checked]="dataConfig.pd3Dependent.maritalStatus==false">
            <label class="form-check-label" for="inlineRadio4">No</label>
          </div>
    </div>
  </div><br />

  <div class="row justify-content-center">
    <div class="col-md-3">
      <label>Disabled</label>
    </div>
    <div class="col-md-5">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio3" [checked]="dataConfig.pd3Dependent.disabled==true">
            <label class="form-check-label" for="inlineRadio3">Yes</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio4" [checked]="dataConfig.pd3Dependent.disabled==false">
            <label class="form-check-label" for="inlineRadio4">No</label>
          </div>
    </div>
  </div><br />

  <div class="row justify-content-center">
    <div class="col-md-3">
      <label>Date of Married</label>
    </div>
    <div class="col-md-5">{{dataConfig.pd3Dependent.merrageDate}}</div>
  </div><br />

  <div class="row justify-content-center">
    <div class="col-md-3">
      <label>Contact Number</label>
    </div>
    <div class="col-md-5">{{dataConfig.pd3Dependent.contactNumber}}</div>
  </div><br />
</div>