<form [formGroup]="form">
  <div class="container content" formGroupName="paymentInformation">

    <hr>

    <div class="form-group row col-md-12">
      <div class="col-md-6 col-form-label">

        <!-- Calculation -->
        <label for="" class="heading">Calculation</label>

        <div class="form-group row justify-content-center">
          <label for="circular" class="col-md-4 col-form-label">Circular</label>
          <div class="col-md-8">
            <select class="col-md-12 col-form-label" formControlName="circular" [(ngModel)]="fillpayment.circular">
              <option value="2015" selected>P.A.C 6/2006</option>
              <option value="2016" selected>P.A.C 3/2016</option>
            </select>
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <label for="scale" class="col-md-4 col-form-label">Section</label>
          <div class="col-md-8">
            <select class="col-md-12 col-form-label" formControlName="section" [(ngModel)]="fillpayment.section">
              <option value="0" disabled>--Select One--</option>
              <option *ngFor="let section of sectionlist" value={{section.name}}>{{section.name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <label for="scale" class="col-md-4 col-form-label">Scale</label>
          <div class="col-md-8">
            <select class="col-md-12 col-form-label" formControlName="scale" [(ngModel)]="fillpayment.salary_scale">
              <option value="0" disabled>--Select One--</option>
              <option *ngFor="let scale of scalelist" value={{scale.id}}>{{scale.name}}</option>
            </select>
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <label for="grade" class="col-md-4 col-form-label">Grade</label>
          <div class="col-md-8">
            <select class="col-md-12 col-form-label" formControlName="grade" [(ngModel)]="fillpayment.service_grade">
              <option value="0" disabled>--Select One--</option>
              <option *ngFor="let grade of gradelist" value={{grade.id}}>{{grade.name}}</option>
            </select>
          </div>

        </div>

        <div class="form-group row justify-content-center">
          <label for="salary" class="col-md-4 col-form-label">Monthly Salary</label>
          <div class="col-md-8">
            <input formControlName="salary" [(ngModel)]="fillpayment.basic_salary" type="text"
              class="form-control form-control-sm" placeholder="Monthly salary" required />
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <label for="dateo fretire" class="col-md-4 col-form-label">Pension activated Date MM/DD/YY</label>
          <div class="col-md-8">
            <input formControlName="dateofretire" [(ngModel)]="pensiondetail.rdate" type="date"
              class="form-control form-control-sm">
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <label for="dateofincre" class="col-md-4 col-form-label">Date of Increment MM/DD/YY</label>
          <div class="col-md-8" *ngIf="pensionerService.editstate==false">
            <input formControlName="dateofincre" [(ngModel)]="pensiondetail.rdate" type="date"
              class="form-control form-control-sm" readonly>
          </div>
          <div class="col-md-8" *ngIf="pensionerService.editstate==true">
            <input formControlName="dateofincre" [(ngModel)]="fillpayment.increment_date" type="date"
              class="form-control form-control-sm">
          </div>
        </div>

        <label for="" class="heading">Service Information</label>

        <div class="form-group row justify-content-center">
          <label class="col-md-3 col-form-label"></label>
          <div class="col-md-3" style="text-align:center;">Days </div>
          <div class="col-md-3" style="text-align:center;">Months </div>
          <div class="col-md-3" style="text-align:center;">Years </div>
        </div>

        <div class="form-group row justify-content-center">
          <label for="totserviceperiod" class="col-md-3 col-form-label">Service period</label>
          <div class="col-md-3"><input type="text" [(ngModel)]="fillpayment.servicperiod_days"
              formControlName="servicperiod_days" class="form-control form-control-sm" placeholder="Days"></div>
          <div class="col-md-3"><input type="text" [(ngModel)]="fillpayment.servicperiod_months"
              formControlName="servicperiod_months" class="form-control form-control-sm" placeholder="Months"></div>
          <div class="col-md-3"><input type="text" [(ngModel)]="fillpayment.servicperiod_years"
              formControlName="servicperiod_years" class="form-control form-control-sm" placeholder="Years"></div>
        </div>

        <div class="form-group row justify-content-center">
          <label for="totserviceperiod" class="col-md-3 col-form-label">No-pay Leaves</label>
          <div class="col-md-3"><input type="text" [(ngModel)]="fillpayment.nopayperiod_days"
              formControlName="nopayperiod_days" class="form-control form-control-sm" placeholder="Days"></div>
          <div class="col-md-3"><input type="text" [(ngModel)]="fillpayment.nopayperiod_months"
              formControlName="nopayperiod_months" class="form-control form-control-sm" placeholder="Months"></div>
          <div class="col-md-3"><input type="text" [(ngModel)]="fillpayment.nopayperiod_years"
              formControlName="nopayperiod_years" class="form-control form-control-sm" placeholder="Years"></div>
        </div>

      </div>

      <!-- Allowances End-->
      <div class="col-md-6 col-form-label">
        <label for="" class="heading">Pensionable Allowances - Annual</label>
        <div class="form-group row justify-content-center">
          <div class="col-md-2 mt-2">
            <label id="label">Add</label>
          </div>
          <div class="col-md-10 pl-0">
            <div class="mb-0">
              <div class="input-group">
                <select class="form-control form-control-sm" formControlName="allowance"
                  [(ngModel)]="allowance_description">
                  <option value="0" disabled>--Select One--</option>
                  <option *ngFor="let allowance of allowancelist" value={{allowance.description}}>
                    {{allowance.description}}
                  </option>
                </select>
                <input type="text" formControlName="allowance_amount"
                  class="form-control form-control-sm custom-amount-field text-right" [(ngModel)]="allowance_amount" />
                <div class="input-group-append">
                  <button type="submit" class="btn btn-sm btn-outline-dark" (click)="setallowances()">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-sm ">
                <thead>
                  <tr>
                    <th class="text-center">Description</th>
                    <th class="text-center">Amount</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let allowance of allarray">
                    <td class="text-center">{{allowance.description}}</td>
                    <td class="text-center">{{allowance.amount}}</td>
                    <td class="text-center">
                      <button class="btn btn-sm btn p-0" ngbTooltip="Delete"
                        style="display: block; margin: 0 auto; background-color: white;"
                        (click)="remove_allo(allowance.id)">
                        <svg class="feather feather-trash-2 sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg"
                          width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                          <polyline points="3 6 5 6 21 6"></polyline>
                          <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                          </path>
                          <line x1="10" y1="11" x2="10" y2="17"></line>
                          <line x1="14" y1="11" x2="14" y2="17"></line>
                        </svg>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>

        </div>

        <div class="form-group row justify-content-center">
          <label for="totallowances" class="col-md-6 col-form-label">Total allowances</label>
          <div class="col-md-6">
            <input formControlName="totallowances" type="text" [(ngModel)]="fillpayment.allowance_tot"
              class="form-control form-control-sm">
          </div>
        </div>

        <!-- Allowances End-->
        <hr>

        <!-- Non-pensionable allowances Start -->
        <label for="" class="heading">Non-Pensionable Allowances - Monthly</label>
        <div class="form-group row justify-content-center">
          <div class="col-md-2 mt-2">
            <label id="label">Add</label>
          </div>
          <div class="col-md-10 pl-0">
            <div class="mb-0">
              <div class="input-group">
                <select class="form-control form-control-sm" formControlName="non_allowance"
                  [(ngModel)]="nonallowance_description">
                  <option value="0" disabled>--Select One--</option>
                  <option value="Good Conducted allowances">Good Conducted allowances</option>
                  <option value="Secretary special allowances">Secretary special allowances</option>
                </select>
                <input type="text" formControlName="nonallowance_amountt"
                  class="form-control form-control-sm custom-amount-field text-right"
                  [(ngModel)]="nonallowance_initialamount" />
                <div class="input-group-append">
                  <button type="submit" class="btn btn-sm btn-outline-dark" (click)="setnonallowances()">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-sm ">
                <thead>
                  <tr>
                    <th class="text-center">Description</th>
                    <th class="text-center">Amount</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let nonallowance of nonallarray">
                    <td class="text-center">{{nonallowance.description}}</td>
                    <td class="text-center">{{nonallowance.amount}}</td>
                    <td class="text-center">
                      <button class="btn btn-sm btn p-0" ngbTooltip="Delete"
                        style="display: block; margin: 0 auto; background-color: white;"
                        (click)="remove_nonallo(nonallowance.id)">
                        <svg class="feather feather-trash-2 sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg"
                          width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                          stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                          <polyline points="3 6 5 6 21 6"></polyline>
                          <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                          </path>
                          <line x1="10" y1="11" x2="10" y2="17"></line>
                          <line x1="14" y1="11" x2="14" y2="17"></line>
                        </svg>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>

        </div>

        <div class="form-group row justify-content-center">
          <label for="totnonallowances" class="col-md-6 col-form-label">Total non-pensionable allowances</label>
          <div class="col-md-6">
            <input formControlName="totnonallowances" type="text" class="form-control form-control-sm"
              [(ngModel)]="fillpayment.nonallowance_tot">
          </div>
        </div>
        <!-- Non-pensionable allowances End-->
      </div>

      <label for="" class="callabel">-- Click CALCULATE button to view Calculation details --</label>
      <button (click)="getcalculation()" class="col-md-12 convert-button">CALCULATE</button>

    </div>
  </div>


</form>

<hr>

<div *ngIf="cstate == true" class="form-group row col-md-12">
  <!-- Current Pension Details -->
  <div class="col-md-6 col-form-label">

    <label for="" class="heading">Current Pension Details</label>

    <div class="form-group row justify-content-center">
      <label for="currentcircular" class="col-md-4 col-form-label">Converting Circular</label>
      <div class="col-md-8">
        <input [(ngModel)]="fillpayment.circular" type="text" class="form-control form-control-sm" readonly>
      </div>
    </div>

    <div class="form-group row justify-content-center" style="margin-top: 67px;">
      <label for="reduced" class="col-md-4 col-form-label">Reduced percentage at 2015</label>
      <div class="col-md-8">
        <input type="text" [(ngModel)]="reduced_perc" class="form-control form-control-sm"
          placeholder="Reduced Percentage" readonly>
      </div>
    </div>

    <div class="form-group row justify-content-center">
      <label for="unreduced" class="col-md-4 col-form-label">Unreduced percentage at 2015</label>
      <div class="col-md-8">
        <input type="text" [(ngModel)]="unreduced_perc" class="form-control form-control-sm"
          placeholder="Unreduced Percentage" readonly>
      </div>
    </div>

    <div class="form-group row justify-content-center">
      <label for="earned_increment_current" class="col-md-4 col-form-label">Earned Increment 2015</label>
      <div class="col-md-8">
        <input type="text" [(ngModel)]="fixcurrentincre" class="form-control form-control-sm"
          placeholder="Earn Increment 2015" readonly>
      </div>
    </div>

    <div class="form-group row justify-content-center">
      <label for="reduced" class="col-md-4 col-form-label">Reduced pension at 2015</label>
      <div class="col-md-8">
        <input type="text" [(ngModel)]="fixreducedsal" class="form-control form-control-sm"
          placeholder="Reduced Pension" readonly>
      </div>
    </div>

    <div class="form-group row justify-content-center">
      <label for="unreduced" class="col-md-4 col-form-label">Unreduced pension at 2015</label>
      <div class="col-md-8">
        <input type="text" [(ngModel)]="fixunreducedsal" class="form-control form-control-sm"
          placeholder="Unreduced Pension" readonly>
      </div>
    </div>

    <hr>
    <div class="form-group row justify-content-center">
      <label for="totalpensionpaid" class="col-md-4 col-form-label">Total pension paid</label>
      <div class="col-md-8">
        <input type="text" [(ngModel)]="pensiondetail.tpen" class="form-control form-control-sm"
          placeholder="Total pension" readonly>
      </div>
    </div>

  </div>

  <!-- Revised Pension Details -->
  <div class="col-md-6 col-form-label">

    <label for="" class="heading">Revised Pension Details</label>

    <div class="form-group row justify-content-center">
      <label for="convertcircular" class="col-md-4 col-form-label">Converting Circular</label>
      <div class="col-md-8">
        <input [(ngModel)]="fillpayment.circular_revised" type="text" class="form-control form-control-sm" readonly>
      </div>
    </div>


    <div class="form-group row justify-content-center">
      <label for="reduced" class="col-md-4 col-form-label">Basic Salary</label>
      <div class="col-md-8">
        <input [(ngModel)]="basic_rev" type="text" class="form-control form-control-sm" placeholder="Basic Salary"
          readonly>
      </div>
    </div>

    <div class="form-group row justify-content-center">
      <label for="reduced" class="col-md-4 col-form-label">Reduced percentage at 2017</label>
      <div class="col-md-8">
        <input [(ngModel)]="rev_reduce_perc" type="text" class="form-control form-control-sm"
          placeholder="Reduced Percentage" readonly>
      </div>
    </div>

    <div class="form-group row justify-content-center">
      <label for="unreduced" class="col-md-4 col-form-label">Unreduced percentage at 2017</label>
      <div class="col-md-8">
        <input [(ngModel)]="rev_unreduce_perc" type="text" class="form-control form-control-sm"
          placeholder="Unreduced Percentage" readonly>
      </div>
    </div>

    <div class="form-group row justify-content-center">
      <label for="earned_increment_rev" class="col-md-4 col-form-label">Earned Increment 2017</label>
      <div class="col-md-8">
        <input type="text" [(ngModel)]="fixrevincre" class="form-control form-control-sm"
          placeholder="Earn Increment 2017" readonly>
      </div>
    </div>

    <div class="form-group row justify-content-center">
      <label for="reduced" class="col-md-4 col-form-label">Reduced pension at 2017</label>
      <div class="col-md-8">
        <input type="text" [(ngModel)]="fixedrevreduced" class="form-control form-control-sm"
          placeholder="Reduced Pension 2020" readonly>
      </div>
    </div>

    <div class="form-group row justify-content-center">
      <label for="unreduced" class="col-md-4 col-form-label">Unreduced pension at 2017</label>
      <div class="col-md-8">
        <input type="text" [(ngModel)]="fixedunrevreduced" class="form-control form-control-sm"
          placeholder="Unreduced Pension 2020" readonly>
      </div>
    </div>
    <hr>

    <div class="form-group row justify-content-center">
      <label for="totalpensiontobepaid" class="col-md-4 col-form-label">Total pension to be paid</label>
      <div class="col-md-8">
        <input type="text" [(ngModel)]="totalpensiontobepaid" class="form-control form-control-sm"
          placeholder="Total pension" readonly>
      </div>
    </div>

    <div class="form-group row justify-content-center">
      <label for="salaryincrease" class="col-md-4 col-form-label">Real salary increase</label>
      <div class="col-md-8">
        <input type="text" [(ngModel)]="salaryincrease" class="form-control form-control-sm"
          placeholder="Salary increase" readonly>
      </div>
    </div>


  </div>


</div>
<hr>